.navigationItem {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    font-size: 1.25rem;
    transition: box-shadow .25s ease,transform .25s ease,-webkit-transform .25s ease;
}

.navigationItem:hover {
    transform: translate3d(0,-3px,0);
    transition: box-shadow .25s ease,transform .25s ease,-webkit-transform .25s ease;
}

.navigationItem a {
    color: white;
    height: 100%;
    padding: 0 2.2rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    /* text-shadow: 0 1px 8px #111; */
}

/* .navigationItem a:hover,
.navigationItem a:active,
.navigationItem a.active {
    background-color: #8F5C2C;
    border-bottom: 4px solid #40A4C8;
    color: white;
} */

@media (max-width: 1199px) {
    .navigationItem {
        font-size: 1.2rem;
    }

    .navigationItem a {
        padding: 0 1.3rem;
    }
}

@media (max-width: 991px) {
    .navigationItem {
        font-size: 0.9rem;
    }

    .navigationItem a {
        padding: 0 0.8rem;
    }
}

@media (max-width: 767px) {
    .navigationItem {

    }
}

@media (max-width: 600px) {
    .navigationItem {

    }
}
