.filter {
    margin: 1% 1% 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: fit-content;
    min-width: 15%;
}

.label {
    padding: 0 0 0.2rem;
    margin: 0;
    font-size: 1rem;
    color: #151b26;
    font-weight: bold;
}

.input {
    font-size: 1.25rem;
    height: 40%;
    box-sizing: border-box;
    padding: 0 5%;
    border: 1px solid #dfdfeb;
    border-radius: 0.75rem;
    color: #737491;
    transition: border-color 0.2s ease-in-out,box-shadow 0.2s ease-in-out;
    text-overflow: ellipsis;
    font-family: 'Muli', sans-serif;
}

.input:focus {
    border-color: rgba(21, 27, 38, 0.5);
    outline: 0;
}

.dark-grey {
    color: #151b26;
}