.navigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
}

.navigationItems:last-child {
    margin-left: 3rem;
}

.nav {
    display: flex;
    height: 100%;
}

.accountBtns {
    display: flex;
    margin: 1rem 1rem;
    height: 55%;
    width: 11rem;
    justify-content: space-between;
}

.accountBtn {
    width: 45%;
}

/*.accountBtn button {
    padding: 10%;
}*/

@media (max-width: 1199px) {
    .accountBtns {
        font-size: 1rem;
        height: 50%;
        width: 10rem;
    }
}

@media (max-width: 991px) {
    .accountBtns {
        font-size: 0.8rem;
        height: 45%;
        width: 9rem;
    }

    .navigationItems:last-child {
        margin-left: 1.5rem;
    }
}
