.toolbar {
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /* background-color: #526682; */
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    /* margin: 0 10px; */
}

.collapse {
    transition: .8s ease;
    background-color: #063259;
}

.toolbar nav {
    height: 100%;
}

.logo {
    height: 70%;
}