.footer {
    padding-top: 5rem;
    padding-bottom: 1rem;
    background-color: #063259;
    box-sizing: border-box;
}

.container {
    width: 80%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;
    box-sizing: border-box;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.column {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.column h4 {
    font-size: 1.3rem;
    color: white;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.column ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    color: #6197c7;
}

.column li {
    line-height: 2rem;
}

.end-row {
    margin-top: 4rem;
    color: #6197c7;
}

.end-row ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 1rem;
}

.end-row li {
    display: inline-block;
    margin-right: 1rem;
    /* Hover color: #d5d4d9 */
}

@media (max-width: 767px) {
    .container {
        width: 90%;
    }

    .column h4 {
        font-size: 1rem;
    }

    .column ul {
        font-size: 0.9rem;
    }
}

@media (max-width: 600px) {
    .columns {
        flex-direction: column;
        align-items: center;
    }

    .column {
        width: 50%;
        align-items: center;
        text-align: center;
        margin-bottom: 2.5rem;
    }

    .column h4 {
        margin-bottom: 1rem;
    }

    .end-row {
        text-align: center;
        margin-top: 2rem;
    }
}

